

#map {
    width: auto;
    height: 0;
    padding-bottom: 56.247%; /* Set ratio: width * 100 / height */
    background-color: #ccc;
}

.job-icon {
    filter: invert(0.5) sepia(1) saturate(20) hue-rotate(0deg) drop-shadow(1px 1px 1px #111);
}

.cluster-icon {
    width: 30px;
    height: 75px;
    /*filter: invert(0.5) sepia(0.5) saturate(20) hue-rotate(180deg) drop-shadow(1px 1px 1px #111);*/
}

.cluster-marker {
    position: relative;
    background: none;
}

.cluster-marker strong {
    position: absolute;
    text-align: center;
    left: 7px;
    top: 25px;
    width: 16px;
    color: white;
    background-color:black;
    border-radius: 50%;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
