

#map {
    width: auto;
    height: 0;
    padding-bottom: 56.247%; /* Set ratio: width * 100 / height */
    background-color: #ccc;
}

.cluster-icon {
    width: 24px !important;
    height: 24px !important;
    margin-left: -12px;
    margin-top: -12px;
    border-radius: 50%;
    font-size: 16px;
    text-align: center;
}

.dot {
    width: 6px !important;
    height: 6px !important;
    background-color: #ccc;
    border: 6px solid #fff;
    border-radius: 50%;
    display: inline-block;
}
  