

/* COLOR PALETTE */
.fill-turquoise { fill: #00BD9C; }
.fill-emerald { fill: #52D88B; }
.fill-peter-river { fill: #2C96DF; }
.fill-amethyst { fill: #9C56B8; }
.fill-wet-asphalt { fill:#34495E; }
.fill-green-sea { fill: #189F86; }
.fill-nephritis { fill: #28AE61; }
.fill-belize-hole { fill: #2A80B9; }
.fill-wisteria { fill: #2A80B9; }
.fill-midnight-blue { fill: #2D3E50; }
.fill-sunflower { fill: #F1C50D; }
.fill-carrot { fill: #E77E22; }
.fill-alizarin { fill: #E74D3D; }
.fill-clouds { fill: #ECF0F1; }
.fill-concrete { fill: #95A5A5; }


